@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply overflow-x-hidden bg-body font-roboto tracking-[0.5px] text-black;
  }

  h1,
  h2,
  h3 {
    @apply font-bold leading-3;
  }

  h1 {
    @apply text-6xl font-bold tracking-[-2px] xl:text-[65px] xl:leading-[80px];
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-[22px] font-semibold;
  }
  p {
    @apply leading-8 text-black/80;
  }
  a {
    @apply cursor-pointer transition-all duration-300;
  }
  label {
    @apply mb-2 block font-normal text-black;
  }
  .subtitle {
    @apply mb-8 text-lg font-light;
  }
  .section-title {
    @apply relative flex w-max items-center justify-between gap-x-3 text-4xl font-bold;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #796250;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #796250;
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hover span {
  display: inline-block;
}

.hover span:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #796250;
  transition: 300ms;
}

.hover span:hover:after {
  width: 100%;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: #866896;
  text-decoration-thickness: 2px;
}

/* Move reCAPTCHA v3 badge to the left */

.grecaptcha-badge {
  visibility: hidden;
}
