@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-roboto bg-body text-black tracking-[0.5px];
  }

  h1,
  h2,
  h3 {
    @apply font-bold leading-3;
  }

  h1 {
    @apply text-6xl xl:text-[65px] xl:leading-[80px] tracking-[-2px] font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold
  }
  h4 {
    @apply text-[22px] font-semibold; 
  }
  p {
    @apply text-black/80 leading-8;
  }
  a {
    @apply transition-all duration-300 cursor-pointer;
  }
  label {
    @apply text-black font-normal block mb-2;
  }
  .subtitle {
    @apply text-lg mb-8 font-light;
  }
  .section-title {
    @apply text-4xl font-bold w-max relative flex items-center justify-between gap-x-3;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #826294;
}


.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #826294;
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hover span {
  display: inline-block;
  
}

.hover span:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #866896;
  transition: 300ms;
  
}

.hover span:hover:after {
  width: 100%;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: #866896;
  text-decoration-thickness: 2px;
}

